<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чүй райондору</title>
</head>
<body>
    <h1>Аламүдүн району - борбор Лебединовка айылы</h1>
    <h1>Жайыл району - борбор Кара-Балта шаары</h1>
    <h1>Кемин району - борбор Кемин шаары</h1>
    <h1>Москва району - борбор Беловодское айылы</h1>
    <h1>Панфилов району - борбор Кайыңды шаары</h1>
    <h1>Сокулук району - борбор Сокулук айылы</h1>
    <h1>Ысык-Ата району - борбор Кант шаары</h1>
    <h1>Чүй району - борбор Токмок шаары</h1>
</body>
</html>