<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Жалал-Абад райондору</title>
</head>
<body>
    <h1>Аксы району - борбор Кербен шаары</h1>
    <h1>Ала-Бука району - борбор Ала-Бука айылы</h1>
    <h1>Базар-Коргон району - борбор Базар-Коргон шаары</h1>
    <h1>Ноокен району - борбор Масы айылы</h1>
    <h1>Сузак району - борбор Сузак айылы</h1>
    <h1>Тогуз-Торо району - борбор Казарман айылы</h1>
    <h1>Токтогул району	- борбор Токтогул шаары</h1>
    <h1>Чаткал району - борбор Каныш-Кыя айылы</h1>
</body>
</html>